<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />

    <title>
        <%= applicationTitle %>
    </title>

    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">

</head>

<body>

    <h1>
        <%= applicationName %>!
    </h1>


    <p id="apiUrl"></p>

    <!-- JavaScript file -->
    <script src="assets/main.js"></script>
</body>

</html>